* {
    box-sizing: border-box;
  }

html { 
  background: url('./images/vintagepaper.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;

  }

body {
  font-family: 'Gupter', serif;
  font-size: 20px;
  }

button {
  margin-top: 10px;
  font-family: 'MedievalSharp', cursive;
  font-size: 90%;
  
}


