* {
    box-sizing: border-box;
  }

body {
  background-image: url('./images/vintagepaper.jpg');
  font-family: 'Gupter', serif;
  font-size: 20px;
  }

button {
  margin-top: 10px;
  font-family: 'MedievalSharp', cursive;
  font-size: 90%;
  
}

